<div class="text-center">
  <h1>Button components</h1>
  
  <hr>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quos quisquam placeat harum, inventore assumenda
    laudantium asperiores natus, dolore alias sunt mollitia minima quod ratione, quia culpa. Assumenda, temporibus quae?
  </p>

  <app-button
    (click)="info()"
    icon='<i class="bi bi-clipboard-plus me-2"></i>'
    type="success"
    text="Create object"
  ></app-button>

  <br><br>

  <app-button
    (click)="info()"
    icon='<i class="bi bi-card-list me-2"></i>'
    type="primary"
    text="List items"
  ></app-button>

  <br><br>

  <app-button
    (click)="info()"
    icon='<i class="bi bi-pencil me-2"></i>'
    type="warning"
    text="Update object"
  ></app-button>

  <br><br>

  <app-button
    (click)="info()"
    icon='<i class="bi bi-trash3 me-2"></i>'
    type="danger"
    text="Delete record"
  ></app-button>

  <br><br>

  <app-button
    (click)="info()"
    icon='<i class="bi bi-magic me-2"></i>'
    type="special"
    text="Magic"
  >
  </app-button>

</div>
