<div>
    <h1>Demo Component -B-</h1>
    <a href="https://api.siposm.hu">https://api.siposm.hu</a>
    <br>
    <code>example: f5e6d7c8-1234-5678-9101-1121-314151617181</code>
    <br>
    <br>
    <input type="text" [(ngModel)]="jobId" placeholder="job's id">
    <button (click)="deleteJob()">Delete job</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, culpa at? Mollitia cupiditate, deserunt expedita a, provident dolorem suscipit dolorum quia eligendi libero cum cumque ipsum quo! Minus, voluptatem cum.</p>
</div>