<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            border: 2px solid red;
        }

        .container {
            display: flex;
        }

        @media only screen and (max-width: 600px) {
            .container {
                flex-wrap: wrap;
            }
        }
    </style>
</head>

<body>
    <h1>Flexbox demo</h1>
    <hr>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id debitis ipsa esse. Corrupti ex ullam dolores
            deleniti, quaerat rem atque tempore est quo quos cupiditate, ducimus sequi, explicabo aspernatur dolorum?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id debitis ipsa esse. Corrupti ex ullam dolores
            deleniti, quaerat rem atque tempore est quo quos cupiditate, ducimus sequi, explicabo aspernatur dolorum?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id debitis ipsa esse. Corrupti ex ullam dolores
            deleniti, quaerat rem atque tempore est quo quos cupiditate, ducimus sequi, explicabo aspernatur dolorum?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id debitis ipsa esse. Corrupti ex ullam dolores
            deleniti, quaerat rem atque tempore est quo quos cupiditate, ducimus sequi, explicabo aspernatur dolorum?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id debitis ipsa esse. Corrupti ex ullam dolores
            deleniti, quaerat rem atque tempore est quo quos cupiditate, ducimus sequi, explicabo aspernatur dolorum?
        </p>
    </div>
</body>

</html>