<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 80% 20%;
        }
        .grid-item {
            border: 2px solid red;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Grid demo</h1>
    <hr>
    <div class="grid-container">
        <p class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nobis omnis! Totam hic minus distinctio dolore delectus voluptas. Nisi reiciendis labore numquam blanditiis alias porro nulla veniam magnam modi repellendus?</p>
        <p class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nobis omnis! Totam hic minus distinctio dolore delectus voluptas. Nisi reiciendis labore numquam blanditiis alias porro nulla veniam magnam modi repellendus?</p>
        <p class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nobis omnis! Totam hic minus distinctio dolore delectus voluptas. Nisi reiciendis labore numquam blanditiis alias porro nulla veniam magnam modi repellendus?</p>
        <p class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nobis omnis! Totam hic minus distinctio dolore delectus voluptas. Nisi reiciendis labore numquam blanditiis alias porro nulla veniam magnam modi repellendus?</p>
        <p class="grid-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nobis omnis! Totam hic minus distinctio dolore delectus voluptas. Nisi reiciendis labore numquam blanditiis alias porro nulla veniam magnam modi repellendus?</p>
    </div>
</body>
</html>