<h2>Developers</h2>

<app-stats></app-stats>

<table class="table table-sm table-striped table-hover" *ngIf="devService.developers.length;else noDevs">
    <thead>
        <tr>
            <th>Img</th>
            <th>Name</th>
            <th>Email</th>
            <th>Job</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let developer of devService.developers" class="align-middle">
            <td><img class="rounded-circle" src="{{ developer.image }}" alt="prof-img"></td>
            <td>{{ developer.name }}</td>
            <td>{{ developer.email }}</td>
            <td>{{ developer.job }}</td>
            <td>{{ developer.age }}</td>
            <td>{{ developer.salary  | currency:"HUF":"symbol":"1.0-0":"hu" }}</td>
            <td>
                <button class="btn btn-sm btn-warning me-1" (click)="edit(developer)">
                    <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="remove(developer)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #noDevs>
    <div class="alert alert-warning text-center" role="alert">
        <b><p>There are no developers in the system, yet!</p></b>
    </div>
</ng-template>